.logniContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}
.logincontainer1 {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: rgb(255, 255, 255);
}
.loginSubContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.headerlogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 40%;
}
.logincontainer2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: #ffffff;
  align-items: flex-start;
  justify-content: center;
}
.boxLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
}
.inputmargin {
  margin-top: 10px;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  margin-bottom: 1rem;
}
.loginForget {
  text-decoration: none;
  color: #455cc7;
  text-align: center;
  margin-bottom: 1rem;
}
.buttonSubmit {
  background-color: #455cc7 !important;
  margin-top: 0.5em !important ;
}
.logoLogin {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.logoCintainer {
  display: flex;
  align-items: end;
  justify-content: end;
}
.clinic {
  align-items: center;
  width: 413px;
  height: 500px;
}
.headerh1 {
  font-size: 43px;
  margin-bottom: -7px;
  color: #455cc7;
}
.headerP {
  color: #455cc7;
}
@media (max-width: 664px) {
  .logincontainer2 {
    display: none;
  }
  .loginSubContainer {
    margin-left: 5rem;
  }
  .headerh1 {
    font-size: 22px;
    margin-bottom: -11px;
  }
}
.logo {
  display: flex;
  align-items: flex-start;
  width: 400px;
}
